.searchBar {
  display: flex;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

@media only screen and (max-width:1000px) {
  .searchBar {
    margin: 0 0.5rem;
  }
}

.searchInput {
  width: 70%;
  margin-left: 15%;
  font-size: inherit;
  padding: .4em;
  border: 1px solid #777;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchBtn {
  display: flex;
  align-items: center;
  padding: 0 1.25rem;
  border: 1px solid #777;
  background-color: #F8F8F8;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
}