@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.youtube-logo {
  height: 20px;
}

.search-btn:hover {
  background-color: #F0F0F0;
}

.menu-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  gap: 1.5rem;
}

.menu-channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
.grid-container{
display:inline;
}
}